* {
  
  padding-left: 15px; /* Reset padding and margin */
  padding-right: 10px;
  box-sizing:content-box;
  font-family: Arial, Helvetica, sans-serif !important;
}

img {
  max-width: 100%;
  height: auto;
  box-sizing: content-box;
}



nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 40px;
  background-color: #ffffff;
  padding: 0 20px; /* Add padding for better spacing */
}
.nav-logo-container{
  display: flex;
  padding: 0;
  
}
.logo {
  max-height: 50px; /* Adjust the height as needed */
  width: auto; /* Maintain aspect ratio */
  margin-right: auto; /* Pushes other items to the right if necessary */
}

.nav-logo-container h1{
  padding-left: 0;
}
.navbar-links-container {
  display: flex;
  align-items: center;
}

.navbar-links-container a {
  margin-right: 2rem; /* Adjust spacing between links */
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1.1rem;
  font-weight: 600;
}

.primary-button {
  padding: 0.5rem 1.5rem; /* Adjust padding to reduce button size */
  color: #f6f6f6;
  background-color: rgb(187, 33, 213);
  border-radius: 5rem;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.2s;
  margin-right: 1rem; /* Add space between buttons */
}

.login-button {
  padding: 0.5rem 1.5rem; /* Adjust padding to reduce button size */
  color: #ffffff; /* Change text color to white */
  background-color: rgb(187, 33, 213);
  border-radius: 5rem;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.2s;
  margin-right: 1rem; /* Add space between buttons */
}


.navbar-cart-icon {
  font-size: 1.15rem;
}

.primary-button:hover, 
.login-button:hover {
  background-color: rgb(234, 234, 234);
  color: #000;
}

.navbar-menu-container svg {
  font-size: 1.5rem;
  cursor: pointer;
}

.home-container{
  padding-bottom: 30px;
  background: linear-gradient(112.5deg, rgb(95, 10, 135) 11.4%, rgb(164, 80, 139) 60.2%);
}
.home-banner-container {
  position: relative;
  display: flex;
  
  padding: 2rem 0; /* Add padding for spacing */
}

.home-bannerImage-container {
  position: absolute;
  top: -100px;
  right: -170px;
  z-index: -2;
  max-width: 700px;
}

.home-image-section {
  max-width: 600px;
  flex: 1;
}

.home-text-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.primary-heading {
  font-size: clamp(2rem, 5vw, 4rem);
  color: #ffffff;
  max-width: 600px;
  margin-bottom: 0px;
}

.primary-text {
  font-size: clamp(1rem, 3vw, 1.5rem);
  max-width: 500px;
  color: #ffffff;
  margin: 1.5rem 0;
}

.secondary-button {
  padding: 1rem 2.7rem;
  background-color: #b234be;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  color: white;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secondary-button svg {
  margin-left: 0.75rem;
  font-size: 1.5rem;
}

.secondary-button:hover {
  background-color: #e48f0f;
}
.Feature-box
{
  color: #ffffff;
  background: linear-gradient(112.5deg, rgb(95, 10, 135) 11.4%, rgb(164, 80, 139) 60.2%);
  height: 700px;
  padding-bottom: 20px;
}
.Feature-heading{
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding-top: 70px;
  padding-bottom: 60px;
}
.feature-container{
  display: flex;

}
.card {
  border: 1px solid #ffffff;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  width: 300px;
  height: 450px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  margin-right: 25px;
  border-right: 20px;
  justify-content: center;
}

.card:hover {
  transform: translateY(-5px);
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  padding-left:0px;
}

.card-content {
  padding: 20px;
}

.card-title {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.card-description {
  font-size: 16px;
  color: #666;
}
.lifecycle{
  display: flex;
  padding-top: 10px;
}
.longimage{
  padding-top: 100px;
  width: 50%;
  height: 50%;
}
.right-text{
  color: #ffffff;
  align-items: center;
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 30px;
}
.brief-description{
  font-size: clamp(1rem, 3vw, 1.5rem);
  max-width: 500px;
  color: #ffffff;
  text-align: justify;
  padding-left: 0px;
}
.footer{
  display: flex;
}
.footer-policy{
  display: flex;
}
